<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-10 mx-auto">
  <h1 class="display-3 my-3 text-center">About</h1>

<div class="row mx-auto">
<h5 class="text-center">
  ながのCAKEは全国発送可能なケーキ屋さんです。</br>
  お子様からお年寄りの方までお召し上がりいただけるよう、</br>
  様々なバリエーションをご用意しております。</br>
  また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</br>
  ぜひご注文ください。
</h5>
</div>
<div class="row my-2">
  <%= image_tag 'nagano_cake', size: "500x200", class: "mx-auto" %>
    </div>
  </div>
</div>
</div>