<div class="container">
  <div class="row my-5 mx-2">
    <div class="col-md-8 col-lg-10">
      <div class="row">
        <div class="col-md-10 top_img">
          <p class="text-center my-5 mx-5 background bg-white border">
            ようこそ、ながのCAKEへ！</br>
            このサイトは、ケーキ販売のECサイトになります。</br>
            会員でない方も商品の閲覧はできますが、</br>
            購入には会員登録が必要になります。
          </p>
        </div>
      </div>
      <div class="row">
        <h4>新着商品</h4></br>
      </div>
      <div class="row">
        <% @items.each do |item| %>
        <div class="col-md-3 col-lg-3">
          <%= image_tag item.get_image(180,110) %>
          <%= item.name %></br>
          ¥<%= item.with_tax_price.to_s(:delimited) %>
        </div>
        <% end %>
      </div>
      <div class="row ">
        <p class="text-right"><u><%= link_to "全ての商品を見る>", items_path %></u></p>
      </div>
    </div>

  </div>

</div>