<div class="container">
  <div class="row">
    <p class="h5 text-left bg-light text-dark px-3 my-3 ml-5">会員一覧</p>
  </div>
  <div class="row">
    <div class="col-9 mx-auto">
    <table class="table">
      <thead>
        <tr class="bg-light">
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <% @customers.each do |customer| %>
      <tr>
        <td><p><%= customer.id %></p></td>
        <td><u><%= link_to customer.last_name + customer.first_name, admin_customer_path(customer.id), class:"text-dark" %></u></td>
        <td><p><%= customer.email %></p></td>
        <td>
          <% if customer.is_active %>
            <strong>退会</strong>
          <% else %>
            <strong class="text-success">有効</strong>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
    <div class="row mx-auto">
        <%= paginate @customers %>
      </div>
  </div>
  </div>
</div>