<div class="container">
  <div class="row">
    <p class="h5 text-left bg-light text-dark px-3 my-3 ml-5">
      <% @customer.last_name %><% @customer.first_name %>さんの会員詳細
    </p>
  </div>
  <div class="row">
    <div class="col-md-3 mx-5">
      会員ID
    </div>
    <div class="col-md-7">
      <% @customer.id %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 mx-5">
      氏名
    </div>
    <div class="col-md-7">
      <% @customer.last_name %>
      <% " " %>
      <% @customer.first_name %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 mx-5">
      フリガナ
    </div>
    　<% @customer.last_name_kana %>
      <% " " %>
      <% @customer.first_name_kana %>
  </div>
  <div class="row">
    <div class="col-md-3 mx-5">
      郵便番号
    </div>
    <div class="col-md-7">
      <% @customer.postal_code %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 mx-5">
      住所
    </div>
    <div class="col-md-7">
      <% @customer.address %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 mx-5">
      電話番号
    </div>
    <div class="col-md-7">
      <% @customer.telephone_number %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 mx-5">
      メールアドレス
    </div>
    <div class="col-md-7">
      <% @customer.email %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 mx-5">
      会員ステータス
    </div>
    <div class="col-md-7">
      <% if @customer.is_active %>
        <strong class="text-success">有効</strong>
      <% else %>
        <strong>退会</strong>
      <% end %>
    </div>
  </div>
  <div class="col-4 mx-auto">
    <div class="row form-group">
      <%= link_to '編集する', edit_admin_customer_path(@customer.id), class:"btn btn-success mr-5" %>
      <%= link_to '注文履歴一覧を見る', root_path, class:"btn btn-primary" %>
    </div>
    </div>
</div>