<div class="container">
  <div class="row">
      <p class="h5 text-left bg-light text-dark px-3 my-3 ml-5">ジャンル編集</p>
  </div>

  <div class="col-11 mt-3">
    <div class="row">
      <%= form_with model: @genre, url: admin_genre_path, method: :patch do |f| %>
        <strong class="small mr-5">ジャンル名</strong>
        <%= f.text_field :name, autocomplete: "name" , placeholder: "ジャンル名", class:"mr-5" %>
        <%= f.submit '変更を保存', class:"btn btn-success"%>
      <% end %>
    </div>
  </div>
</div>