<div class="container">
  <div class="row my-5 mx-2">
    <div class="col-md-8 col-lg-10">
      <div class="row">
        <h4>商品一覧</h4>
        <p>(全<% @items.count %>件)</p>
      </div>
      <div class="row">
        <% @items.each do |item| %>
        <div class="col-md-3 col-lg-3">
          <%= image_tag item.image, size: "180x110" %>
          <%= item.name %></br>
          ¥<%= item.price*1.1.round %>
        </div>
        <% end %>
      </div>
    </div>

  </div>

</div>